@import "colors";

html,
body{
	height: 100vh;
	font-size: 14px;
	color: #333;
}
body{
	display: flex;
	flex-direction: column;
}
main{
	flex-grow: 1;
}
.btn{
	transform-origin: center;
}
.btn:active{
	transform: scale(0.95);
}
.btn-sm{
	padding: 0.45rem .5rem;
}
.gutter.gutter-horizontal {
	cursor: ew-resize;
	background-color: gray;
	border: 2px inset gray;
}
.split-pane{
	padding: 10px;
	overflow: auto;
}
.page-index main{
	justify-content: center;
}
aside ul ul{
	margin-left: 1.25em;
}
aside li.active > a{
	color: #ff7600;
}
aside .js-accordion-item.expanded > .fa-plus-square,
aside .js-accordion-item.collapsed > .fa-minus-square{
	display: none;
}
aside .js-accordion-item.expanded > .fa-minus-square{
	display: inline-block;
}
.table-props td:first-child{
	white-space: nowrap;
}
table.table{
	word-break: break-all;
}


// TODO: Add Arial font
