html,
body{
	min-height: 100vh;
}
body{
	display: flex;
	flex-direction: column;
}
main{
	flex-grow: 1;
}
.btn{
	transform-origin: center;
}
.btn:active{
	transform: scale(0.95);
}
.btn-sm{
	padding: 0.45rem .5rem;
}
